.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  padding: 0px;
  margin: 0px;
}
.Header{
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.Header > h1 {
  font-weight: 400;
  color: #4fc3f7;
  padding-left: 50px;
  cursor: default;
}

.Input{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Input > form {
  display: flex;
  margin: auto;
}
.Input > form > input {
  width: 300px;
  border: none;
  background-color: #232323;
  color: #4fc3f7;
  outline: none;
  padding: 10px;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  letter-spacing: 0.06rem;
}

.Input > form > button {
  width: 80px;
  border: none;
  background-color: #232323;
  color: #4fc3f7;
  outline: none;
  padding: 10px;
  border-left: 1px solid #4fc3f7;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  cursor: pointer;
  letter-spacing: 0.06rem;
}
.Input > form > button:hover {
  background-color: #2f2f2f;
}


.cards{
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.card {
  border-radius: 5px;
  margin: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #232323;
  color: white;
  align-items: center;
  width: 350px;
  height: 600px;
  cursor: default;
}


.card_heading{
  height: 10%;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* font-size: 0.5rem; */
  font-weight: 400;
  letter-spacing: 0.03rem;
  color: #4fc3f7;
}
.card_heading > h3,
.card_heading > h4 {
  font-weight: 400;
}
.card_mid{
  height: 50%;
  display: flex;
  cursor: pointer;
}

.card_foot{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  width: 85%;
  text-align: left;
}

.card_foot > h4{
  margin: 10px 0 5px 0;
  color: #4fc3f7;
  font-weight: 400;
  letter-spacing: 0.08rem;
}

.card_foot > p {
  font-size: 0.8rem;
  margin: 1.5px;
}

span{
  font-weight: 600;
  color: #4fc3f7;
}

.footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  text-align: right;
  width: 85%;
}
.seemore{
  color: #4fc3f7;
  cursor: pointer;
  padding: 5px;
}
.bookmark{
  cursor: pointer;
  justify-self: flex-start;
}

.loader{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4fc3f7;
  margin: 40px auto;
}